<div>

    <!--Navigation  Bar-->
    <nav class="white-bg" role="navigation">
        <app-navbar></app-navbar>
    </nav>
    <!--Navigation  Bar-->

    <!--DashBoard Content-->
    <div class="content_2">

        <div class="row" style="width: 100%; margin: 0;">

            <div class="col-lg-8 col-xl-9 col-md-12 content-body">

            </div>

            <app-activity></app-activity>
        </div>

    </div>
    <!--DashBoard Content-->

    <!--ai character-->
    <app-ai></app-ai>
    <!--ai character-->

</div>